%div{:id => "hangover_#{hangover_counter + 1}", :class => "slide"}
  - image = image_tag(hangover.image_url(:thumb).to_s)
  - if hangover.persisted?
    = link_to(image, hangover)
  - else
    = image
  .caption
    %p
      = hangover.caption

