#hangovers
  #images
    .frame
    #slides
      %a.prev{:href => "#"}
        = image_tag "slides/arrow-prev.png"
      %a.next{:href => "#"}
        = image_tag "slides/arrow-next.png"
      .slides_container
        = render @hangovers

%p
  = link_to t("hangover.got_one"), new_hangover_path

